<H2 CLASS="title">Tilføj klasse</H2>

<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">

<TABLE>
<TR>
<TH CLASS="label">Navn:</TH>
<TD><input type="TEXT" name="PRINTER_NAME" size="40" maxlength="127"><br>
<SMALL>(må indeholde alle tegn der kan udskrives, undtagen "/", "#" og mellemrum)</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Beskrivelse:</TH>
<TD><input type="TEXT" name="PRINTER_INFO" size="40" maxlength="127"><br>
<SMALL>(beskrivelse der kan læses af mennesker, såsom "HP LaserJet med Duplexer")</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Placering:</TH>
<TD><input type="TEXT" name="PRINTER_LOCATION" size="40" maxlength="127"><br>
<SMALL>(placering der kan læses af mennesker, såsom "Rum 1")</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Medlemmer:</TH>
<TD>
<SELECT NAME="MEMBER_URIS" SIZE="10" MULTIPLE>
{[member_uris]<OPTION VALUE="{member_uris}" {?member_selected}>{member_names}}
</SELECT>
</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Tilføj klasse"></TD>
</TR>
</TABLE>

</FORM>
