<H2 CLASS="title">Новая группа</H2>

<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">

<TABLE>
<TR>
<TH CLASS="label">Название:</TH>
<TD><input type="TEXT" name="PRINTER_NAME" size="40" maxlength="127"><br>
<SMALL>(может содержать любые символы, кроме "/", "#" и пробела)</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Описание:</TH>
<TD><input type="TEXT" name="PRINTER_INFO" size="40" maxlength="127"><br>
<SMALL>(Расширенное описание группы, например, "Дуплексный принтер")</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Расположение:</TH>
<TD><input type="TEXT" name="PRINTER_LOCATION" size="40" maxlength="127"><br>
<SMALL>(Месторасположение группы, например, "Кабинет 55")</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Состав группы:</TH>
<TD>
<SELECT NAME="MEMBER_URIS" SIZE="10" MULTIPLE>
{[member_uris]<OPTION VALUE="{member_uris}" {?member_selected}>{member_names}}
</SELECT>
</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Add Class"></TD>
</TR>
</TABLE>

</FORM>
