<H2 CLASS="title">Изменение принтера {printer_name}</H2>

<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="BAUDRATE" VALUE="{?baudrate}">
<INPUT TYPE="HIDDEN" NAME="BITS" VALUE="{?bits}">
<INPUT TYPE="HIDDEN" NAME="PARITY" VALUE="{?parity}">
<INPUT TYPE="HIDDEN" NAME="FLOW" VALUE="{?flow}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">

<TABLE>
<TR>
<TH CLASS="label">Описание:</TH>
<TD><input type="TEXT" name="PRINTER_INFO" value="{?printer_info}" size="40" maxlength="127"><br>
<SMALL>(расширенное описание принтера, например,  "HP LaserJet с дуплексной печатью")</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Расположение:</TH>
<TD><input type="TEXT" name="PRINTER_LOCATION" value="{?printer_location}" size="40" maxlength="127"><br>
<SMALL>(местоположение принтера, например, "Кабинет 55")</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">Подключение:</TH>
<TD><input type="HIDDEN" name="DEVICE_URI" value="{device_uri}">{device_uri}</TD>
</TR>
<TR>
<TH CLASS="label">Совместный доступ:</TH>
<TD><input type="CHECKBOX" name="PRINTER_IS_SHARED" id="PRINTER_IS_SHARED" {printer_is_shared=1?checked:}>
<LABEL FOR="PRINTER_IS_SHARED">Разрешить совместный доступ к этому принтеру</LABEL></TD>
</TR>
<TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="Continue"></TD>
</TR>
</TABLE>

</FORM>
