<div class="row">
  <div class="halves">
    <H2 CLASS="title">מדפסות</H2>

    <P>
    <FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="add-printer"><INPUT TYPE="SUBMIT" VALUE="הוספת מדפסת"></FORM>
    <FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="find-new-printers"><INPUT TYPE="SUBMIT" VALUE="איתור מדפסות חדשות"></FORM>
    <FORM ACTION="/printers/" METHOD="GET"><INPUT TYPE="SUBMIT" VALUE="ניהול מדפסות"></FORM>
    </P>

    <H2 CLASS="title">מחלקות</H2>

    <P>
    <FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="add-class"><INPUT TYPE="SUBMIT" VALUE="הוספת מחלקה"></FORM>
    <FORM ACTION="/classes/" METHOD="GET"><INPUT TYPE="SUBMIT" VALUE="ניהול מחלקות"></FORM>
    </P>

    <H2 CLASS="title">משימות</H2>

    <P>
    <FORM ACTION="/jobs/" METHOD="GET"><INPUT TYPE="SUBMIT" VALUE="ניהול משימות"></FORM>
    </P>
  </div>
  <div class="halves">
    <H2 CLASS="title">שרת</H2>

    <P>
    <FORM ACTION="/admin/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server"><INPUT TYPE="SUBMIT" VALUE="עריכת קובץ הגדרות"></FORM>
    </P>

    {SETTINGS_ERROR?<P>{SETTINGS_MESSAGE}</P>
    <BLOCKQUOTE>{SETTINGS_ERROR}</BLOCKQUOTE>:

    <FORM METHOD="POST" ACTION="/admin">
    <INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">

    {ADVANCEDSETTINGS?<P><B>הגדרות שרת\:</B></P>

    <P><A HREF="/admin/">מתקדם <SMALL>&#x25bc;</SMALL></A><BR>
    <INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">
    <INPUT TYPE="HIDDEN" NAME="ADVANCEDSETTINGS" VALUE="YES">
    <INPUT TYPE="CHECKBOX" NAME="SHARE_PRINTERS" ID="SHARE_PRINTERS" {?share_printers}><LABEL FOR="SHARE_PRINTERS"> שיתוף מדפסות שמחוברות למערכת הזאת</LABEL><BR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כמות לקוחות מרבית\:
    <INPUT TYPE="TEXT" NAME="MAX_CLIENTS" VALUE="{?max_clients}" SIZE="6"><BR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="CHECKBOX" NAME="REMOTE_ANY" ID="REMOTE_ANY" {?remote_any}><LABEL FOR="REMOTE_ANY">  לאפשר הדפסה מהאינטרנט</LABEL><BR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="CHECKBOX" NAME="BROWSE_WEB_IF" ID="BROWSE_WEB_IF" {?browse_web_if}><LABEL FOR="BROWSE_WEB_IF">  פרסום מנשק הדפדפן</LABEL><BR>
    <INPUT TYPE="CHECKBOX" NAME="REMOTE_ADMIN" ID="REMOTE_ADMIN" {?remote_admin}><LABEL FOR="REMOTE_ADMIN">  לאפשר ניהול מרוחק</LABEL><BR>
    {have_gssapi?<INPUT TYPE="CHECKBOX" NAME="KERBEROS" ID="KERBEROS" {?kerberos}><LABEL FOR="KERBEROS"> להשתמש באימות Kerberos (<A HREF="/help/kerberos.html?TOPIC=Getting+Started">שאלות נפוצות</A>)</LABEL><BR>:}
    <INPUT TYPE="CHECKBOX" NAME="USER_CANCEL_ANY" ID="USER_CANCEL_ANY" {?user_cancel_any}><LABEL FOR="USER_CANCEL_ANY">  לאפשר למשתמשים לבטל כל משימה שהיא (לא רק של עצמם)</LABEL><BR>
    <INPUT TYPE="CHECKBOX" NAME="PRESERVE_JOBS" ID="PRESERVE_JOBS" {?preserve_jobs}><LABEL FOR="PRESERVE_JOBS">  לשמר את היסטוריית המשימות</LABEL><BR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;כמות המשימות המרבית (0 לביטול ההגבלה)\:
    <INPUT TYPE="TEXT" NAME="MAX_JOBS" VALUE="{?max_jobs}" SIZE="6"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לשמר נתוני על\:
    <INPUT TYPE="TEXT" NAME="PRESERVE_JOB_HISTORY" VALUE="{?preserve_job_history}" SIZE="6"><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;לשמר מסמכים\:
    <INPUT TYPE="TEXT" NAME="PRESERVE_JOB_FILES" VALUE="{?preserve_job_files}" SIZE="6"><BR>
    <INPUT TYPE="CHECKBOX" NAME="DEBUG_LOGGING" ID="DEBUG_LOGGING" {?debug_logging}><LABEL FOR="DEBUG_LOGGING">  לשמור פרטי ניפוי שגיאות לפתרון תקלות</LABEL><BR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;גודל היומן המרבי\:
    <INPUT TYPE="TEXT" NAME="MAX_LOG_SIZE" VALUE="{?max_log_size}" SIZE="6"></P>

    :<P><B>הגדרות שרת:</B></P>

    <P><A HREF="/admin/?ADVANCEDSETTINGS=YES">מתקדם <SMALL>&#x25c4;</SMALL></A><BR>
    <INPUT TYPE="HIDDEN" NAME="OP" VALUE="config-server">
    <INPUT TYPE="CHECKBOX" NAME="SHARE_PRINTERS" ID="SHARE_PRINTERS" {?share_printers}><LABEL FOR="SHARE_PRINTERS"> שיתוף מדפסות שמחוברות למערכת הזאת</LABEL><BR>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<INPUT TYPE="CHECKBOX" NAME="REMOTE_ANY" ID="REMOTE_ANY" {?remote_any}><LABEL FOR="REMOTE_ANY">  לאפשר הדפסה מהאינטרנט</LABEL><BR>
    <INPUT TYPE="CHECKBOX" NAME="REMOTE_ADMIN" ID="REMOTE_ADMIN" {?remote_admin}><LABEL FOR="REMOTE_ADMIN">  לאפשר ניהול מרחוק</LABEL><BR>
    {have_gssapi?<INPUT TYPE="CHECKBOX" NAME="KERBEROS" ID="KERBEROS" {?kerberos}><LABEL FOR="KERBEROS">  להשתמש באימות Kerberos (<A HREF="/help/kerberos.html?TOPIC=Getting+Started">שו״ת</A>)</LABEL><BR>:}
    <INPUT TYPE="CHECKBOX" NAME="USER_CANCEL_ANY" ID="USER_CANCEL_ANY" {?user_cancel_any}><LABEL FOR="USER_CANCEL_ANY">  לאפשר למשתמשים לבטל כל משימה שהיא (לא רק את שלהם)</LABEL><BR>
    <INPUT TYPE="CHECKBOX" NAME="DEBUG_LOGGING" ID="DEBUG_LOGGING" {?debug_logging}><LABEL FOR="DEBUG_LOGGING">  לשמור את פרטי ניפוי השגיאות לצורכי טיפול בתקלות</LABEL></P>

    }
    <P><INPUT TYPE="SUBMIT" NAME="CHANGESETTINGS" VALUE="שינוי ההגדרות"></P>

    </FORM>}
  </div>
</div>
