{#printer_name=0?:
<TABLE CLASS="list" SUMMARY="רשימת מחלקות">
<THEAD>
<TR><TH>שם התור</TH><TH>תיאור</TH><TH>מיקום</TH><TH>חברים</TH><TH>מצב</TH></TR>
</THEAD>
<TBODY>
{[printer_name]
<TR><TD><A HREF="{printer_uri_supported}">{printer_name}</A></TD><TD>{printer_info}</TD><TD>{printer_location}</TD><TD>{?member_uris=?אין:{member_uris}}</TD><TD>{printer_state=3?בהמתנה:{printer_state=4?בעיבוד:מושהית}}{printer_state_message? - „{printer_state_message}”:}</TD></TR>
}
</TBODY>
</TABLE></DIV>}
