<H2 CLASS="title">{job_id?להעביר את משימה {job_id}:להעביר את כל המשימות}</H2>

<P>{job_id?<A HREF="/jobs/{job_id}">משימה {job_id}</A> הועברה:כל המשימות הועברו} אל
<A HREF="/{is_class?classes:printers}/{job_printer_name}">{job_printer_name}</A>.</P>
