{#job_id=0?:
<TABLE CLASS="list" SUMMARY="Job List">
<THEAD>
<TR><TH>מספר</TH><TH>שם</TH><TH>משתמש</TH><TH>גודל</TH><TH>דפים</TH><TH>מצב</TH><TH>בקרה</TH></TR>
</THEAD>
<TBODY>
{[job_id]
<TR VALIGN="TOP">
<TD><A HREF="{job_printer_uri}">{job_printer_name}</A>-{job_id}{?phone? ({phone}):}&nbsp;</TD>
<TD>{?job_name=?לא ידוע:{job_name}}&nbsp;</TD>
<TD>{?job_originating_user_name=?מוחזקת:{job_originating_user_name}}&nbsp;</TD>
<TD>{job_k_octets} ק״ב&nbsp;</TD>
<TD>{job_impressions_completed=0?לא ידוע:{?job_impressions_completed}}&nbsp;</TD>
<TD>{job_state=3?ממתינה מאז<BR>{?time_at_creation=?לא ידוע:{time_at_creation}}:{job_state=4?מוחזקת מאז<BR>{?time_at_creation=?לא ידוע:{time_at_creation}}:
{job_state=5?בעיבוד מאז<BR>{?time_at_processing=?לא ידוע:{time_at_processing}}:{job_state=6?נעצרה:
{job_state=7?בוטלה <BR>{?time_at_completed=?במועד לא ידוע:ב־{time_at_completed}}:{job_state=8?הופסקה:הושלמה<BR>{?time_at_completed=?במועד לא ידוע:ב־{time_at_completed}}}}}}}}&nbsp;{job_printer_state_message?<BR>
<EM>„{job_printer_state_message}”</EM>:}</TD>
<TD>
{job_preserved>0?{job_state>5?
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="restart-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}"><INPUT TYPE="SUBMIT" VALUE="Reprint Job"></FORM>:}:}
{job_state=4?{job_hold_until=auth-info-required?מוחזקת עד לאימות:
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="release-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}">
<INPUT TYPE="SUBMIT" VALUE="לשחרר משימה"></FORM>:}:}
{job_state=3?
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="hold-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}">
<INPUT TYPE="SUBMIT" VALUE="להחזיק משימה"></FORM>:}
{job_state<7?
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="cancel-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="HIDDEN" NAME="job_printer_uri" VALUE="{job_printer_uri}">
<INPUT TYPE="SUBMIT" VALUE="לבטל משימה"></FORM>
<FORM ACTION="/jobs/" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}"><INPUT TYPE="HIDDEN" NAME="OP" VALUE="move-job"><INPUT TYPE="HIDDEN" NAME="job_id" VALUE="{job_id}"><INPUT TYPE="SUBMIT" VALUE="להעביר משימה"></FORM>:}
&nbsp;</TD>
</TR>
}
</TBODY>
</TABLE>
}
