{?which_jobs=?:<FORM ACTION="{?printer_name=?/jobs:{printer_uri_supported}}" METHOD="GET"><INPUT TYPE="SUBMIT" VALUE="להציג משימות פעילות"></FORM>}
{?which_jobs=completed?:<FORM ACTION="{?printer_name=?/jobs:{printer_uri_supported}}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="which_jobs" VALUE="completed"><INPUT TYPE="SUBMIT" VALUE="להציג משימות שהושלמו"></FORM>}
{?which_jobs=all?:<FORM ACTION="{?printer_name=?/jobs:{printer_uri_supported}}" METHOD="GET"><INPUT TYPE="HIDDEN" NAME="which_jobs" VALUE="all"><INPUT TYPE="SUBMIT" VALUE="להציג את כל המשימות"></FORM>}

<P ALIGN="CENTER">{?which_jobs=?המשימות מופיעות בסדר ההדפסה, משימות מוחזקות מופיעות ראשונות.:{which_jobs=המשימות מופיעות בסדר עולה.?:המשימות מופיעות בסדר יורד.}}</P>
