<H2 CLASS="title">לדחות משימות ל{is_class?מחלקה:מדפסת} {printer_name}</H2>

<P>{is_class?המחלקה:המדפסת} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
אינה מקבלת משימות עוד.</P>
