<H2 CLASS="title">לקבל משימות אל {is_class?המחלקה:המדפסת} {printer_name}</H2>

<P>{is_class?המחלקה:המדפסת} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
מקבלת מעתה משימות.</P>
