<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>
({printer_state=3?Idle:{printer_state=4?בעיבוד:מושהית}},
{printer_is_accepting_jobs=0?דוחה משימות:מקבלת משימות},
{server_is_sharing_printers=0?לא:{printer_is_shared=0?לא:}} משותפת{default_name={printer_name}?, בררת המחדל של השרת:})</H2>

<FORM METHOD="POST" ACTION="{printer_uri_supported}" NAME="maintenance">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<SELECT NAME="OP" ONCHANGE="document.maintenance.submit();">
<OPTION VALUE="">תחזוקה</OPTION>
<OPTION VALUE="print-test-page">הדפסת דף בדיקה</OPTION>
{printer_commands~.*Clean.*?<OPTION VALUE="clean-print-heads">ניקוי ראשי ההדפסה</OPTION>:}
{printer_commands~.*PrintSelfTestPage.*?<OPTION VALUE="print-self-test-page">הדפסת עמוד בדיקה עצמית</OPTION>:}
{printer_state=5?<OPTION VALUE="start-printer">להמשיך פעילות מדפסת</OPTION>:<OPTION VALUE="stop-printer">השהיית מדפסת</OPTION>}
{printer_is_accepting_jobs=0?<OPTION VALUE="accept-jobs">מקבלת משימות</OPTION>:<OPTION VALUE="reject-jobs">דוחה משימות</OPTION>}
<OPTION VALUE="move-jobs">העברת כל המשימות</OPTION>
<OPTION VALUE="cancel-jobs">ביטול כל המשימות</OPTION>
</SELECT>
<NOSCRIPT><INPUT TYPE="SUBMIT" VALUE="לבצע"></NOSCRIPT>
</FORM>

<FORM METHOD="POST" ACTION="{admin_uri}" NAME="administration">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="printer_name" VALUE="{printer_name}">
<SELECT NAME="OP" ONCHANGE="document.administration.submit();">
<OPTION VALUE="">ניהול</OPTION>
<OPTION VALUE="modify-printer">שינויים במדפסת</OPTION>
<OPTION VALUE="delete-printer">מחיקת מדפסת</OPTION>
<OPTION VALUE="set-printer-options">הגדרת אפשרויות בררת מחדל</OPTION>
<OPTION VALUE="set-as-default">הגדרה כבררת המחדל של השרת</OPTION>
<OPTION VALUE="set-allowed-users">הגדרת משתמשים מורשים</OPTION>
</SELECT>
<NOSCRIPT><INPUT TYPE="SUBMIT" VALUE="לבצע"></NOSCRIPT>
</FORM>

<TABLE SUMMARY="{printer_name}">
<TR><TH ALIGN="RIGHT" VALIGN="TOP">תיאור:</TH><TD>{printer_info}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">מיקום:</TH><TD>{printer_location}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">מנהל התקן:</TH><TD>{printer_make_and_model} ({color_supported=1?צבע:שחור לבן}{sides_supported=חד־צדית?:, הדפסה דו־צדדית})<BR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">חיבור:</TH><TD>{device_uri}</TD></TR>
<TR><TH ALIGN="RIGHT" VALIGN="TOP">בררות מחדל:</TH><TD>job-sheets={job_sheets_default}
media={media_default?{media_default}:לא ידוע}
{sides_default?sides={sides_default}:}</TD></TR>
</TABLE>
