<H2 CLASS="title">הגדרת {is_class?המחלקה:המדפסת} {printer_name} כבררת מחדל</H2>

<P>{is_class?המחלקה:המדפסת} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
הוגדרה כמדפסת בררת המחדל של השרת.</P>

<BLOCKQUOTE><B>לתשומת לבך:</B> כל בררת מחדל של המשתמש שהוגדרה דרך
הפקודה <TT>lpoptions</TT> תדרוס את הגדרת בררת מחדל זו.</BLOCKQUOTE>
