<H2 CLASS="title">הגדרת אפשרויות בררת מחדל עבור {printer_name}</H2>

<P>אפשרויות בררת המחדל של {OP=set-class-options?המחלקה <A HREF="/classes/{printer_name}">:המדפסת <A HREF="/printers/{printer_name}">}{printer_name}</A>
הוגדרו בהצלחה.
