<H2 CLASS="title">לבטל משימות אל {is_class?המחלקה:המדפסת} {printer_name}</H2>

<P>כל המשימות שב{is_class?מחלקה:מדפסת} <A
HREF="/{is_class?classes:printers}/{printer_name}">{printer_name}</A>
בוטלו.</P>
