      </div>
    </div>
    <div class="footer">CUPS והלוגו של CUPS הם סימני מסחר של <a href="http://www.apple.com">Apple Inc.‎</a> כל הזכויות שמורות &copy; 2007‏-2019 ל־Apple Inc.</div>
  </body>
</html>
