<H2 CLASS="title">クラスの追加</H2>

<FORM METHOD="POST" ACTION="/admin">
<INPUT TYPE="HIDDEN" NAME="org.cups.sid" VALUE="{$org.cups.sid}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">

<TABLE>
<TR>
<TH CLASS="label">名前:</TH>
<TD><input type="TEXT" name="PRINTER_NAME" size="40" maxlength="127"><br>
<SMALL>(May contain any printable characters except "/", "#", and space)</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">説明:</TH>
<TD><input type="TEXT" name="PRINTER_INFO" size="40" maxlength="127"><br>
<SMALL>("両面ありHP LaserJet" のように人が読みやすい説明)</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">場所:</TH>
<TD><input type="TEXT" name="PRINTER_LOCATION" size="40" maxlength="127"><br>
<SMALL>("研究室1" のように人が読みやすい場所)</SMALL></TD>
</TR>
<TR>
<TH CLASS="label">メンバー:</TH>
<TD>
<SELECT NAME="MEMBER_URIS" SIZE="10" MULTIPLE>
{[member_uris]<OPTION VALUE="{member_uris}" {?member_selected}>{member_names}}
</SELECT>
</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="SUBMIT" VALUE="クラスの追加"></TD>
</TR>
</TABLE>

</FORM>
